{{ define "content" }}
<h2 class="mb-4">List of Transactions</h2>

<div class="card mb-4">
  <div class="card-body">
    <table class="table table-responsive mb-0">
      <thead class="thead-light">
        <tr>
          <th>Code</th>
          <th>Campaign Name</th>
          <th>User Name</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through transactions data -->
        {{ range .transactions }}
        <tr>
          <td>{{ .Code }}</td>
          <td>{{ .Campaign.Name }}</td>
          <td>{{ .User.Name }}</td>
          <td>{{ .AmountFormatIDR }}</td>
          <td>{{ .Status }}</td>
          <td>{{ .CreatedAt }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ end }}
